/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/



.uo_drop-frame {
    width: 100%;
    padding: 1.5em;
    border-radius: 10px;
    border: 1px white dashed;
    text-align: center;

    &.uo_drag-over-active {
        // User outlines so that thickened border doesn't change layout
        outline: 2px solid white;
        outline-offset: -2px;
        background-color: rgba(255,255,255,0.1);

        // Prevent children components firing dragleave
        // But only while dragging is active because otherwise it stops the link text working
        * {pointer-events: none;}
    }
}

#uo_file {
    display: none;
}

.uo_file-label {
    color: pink;
    text-decoration: underline;
    cursor: pointer;
}






.uo_setting {
    &.is-disabled {
        display: none;
    }
}



// Increase the width of text inputs and drop down to their own line on small windows.
// But not toggles
.uo_setting:not(.mod-toggle) {
    flex-wrap: wrap;

    .setting-item-info {
        padding-bottom: 0.5em;
    }

    .setting-item-info {
        flex: 1 0 30ch;
    }
    .setting-item-control {
        flex: 1 30ch;
        input, select {
            width: 100%;
        }
    }

}





.uo_progress-bar {
    width: 100%;
    height: 0.5em;
    border-radius: 10px;
    background-color: #333;
    margin-top: 1em;
    
    .uo_bar {
        width: 50%;
        height: 100%;
        background-color: white;
        border-radius: 10px;
    }
}



.uo_before-import-summary {
    text-align: right;
}

.uo_during-import-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 1rem;

    p {
        text-align: center;
    }

    .uo_import-number {
        font-size: 2em;
        font-weight: 600;
    }
}

.uo_import-log {
    margin-top: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.3);
    max-height: 0;
    overflow-y: auto;
    border-radius: 6px;
    
    &.uo_visible {
        max-height: 300px;
        overflow-y: auto;
    }
    
    .uo_item {
        font-size: 0.8rem;
        padding: 1.2em 0.8em;
        margin: 0;

        &:nth-of-type(even) {
            background-color: rgba($color: #FFF, $alpha: 0.01);
        }
        
        .uo_item-header {
            margin: 0;
            
            .uo_status {
                font-size: 0.8em;
                padding: 0.25em 0.6em;
                background-color: rgba($color: #FF5555, $alpha: 0.3);
                color: #FFF;
                border-radius: 4px;
                margin-right: 0.5em;
            }
            .uo_title {
                font-size: 1.1em;
                color: rgba($color: #FFF, $alpha: 0.6);
            }
        }
        
        .uo_item-body {
            margin: 0.4em 0 0 0;
            
            .uo_desc {
                margin: 0;
                color: rgba($color: #FFF, $alpha: 0.3);
            }
        }

    }    

    
}



.uo_button {
    margin-top: 1rem;
    cursor: pointer;
}


button.uo_button[disabled] {
    opacity: 0.3;
    background-color: unset !important;
    color: unset !important;
    box-shadow: var(--input-shadow);
    &:hover {
        background-color: unset !important;
        color: unset !important;
        box-shadow: var(--input-shadow);
    }
}


.uo_hidden {
    display: none;
}






// Animation

.uo_import-log {
    transition: max-height 1s;
}
